





@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;

}

h1 {

	font-size: 20px;
	line-height: 30px;
	color: #222;
}

h2 {
    font-size: 15px;
	line-height: 35px;
	color: #222;

}

h4 {
    font-size: 20px;
	color: #222;

}

h6 {
    font-weight: 700px;
	font-size: 12px;
}

p {
    font-size: 16px;
	color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 50px 100px;

}

.section-m1 {
	margin: 50px 0;
}

button.normal{
	font-size: 20px;
	font-weight: 600;
	padding: 50px 100px;
	color: black;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;


}

body {
	width: 100%;
}

/* header start */

#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #E3E6F3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
}

#navbar li a:hover {
    color: #03B178;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: #03B178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 2px;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

/* Home page */
#hero{
     background-image: url("make.png");
	height: 90vh;
	width: 50%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

}

#hero h4{
padding-bottom: 15px;

}

#hero h1{
color: #088178;
}

#hero button{
background-image: url("button.png");
background-color: transparent;
border: 0;
padding: 15px 70px 150px 7px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 700;
font-size: 12px;

}

#feature{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}


#feature .fe-box{
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #cce7d0;
	border-radius: 4px;
	margin: 15px 0;
}

#feature .fe-box:hover{
	box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
	width: 100%;
	margin-bottom: 10px;
} 

#feature .fe-box h6{
	display: inline-block;
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
	background-color: #fddde4;
}


#feature .fe-box:nth-child(2) h6{
background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
background-color: #d1e8f2;
}


#feature .fe-box:nth-child(4) h6{
background-color: #cdd4f8;
}


#feature .fe-box:nth-child(5) h6{
background-color: #f6dbf6;
}


#feature .fe-box:nth-child(6) h6{
background-color: #fff2e5;
}

#course1{
	text-align: center;
}

#course1 .pro-container{
       display: flex;
       justify-content: space-between;
       padding-top: 20px;
       flex-wrap: wrap;
}

#course1 .pro{
	width:23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 5px solid #cce7de;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20PX 20PX 30px rgba(0, 0, 0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

#course1 .pro:hover{
	box-shadow: 20PX 20PX 30px rgba(0, 0, 0, 1.06);
}

#course1 .pro img{
	width: 100%;
	border-radius: 20px;
}

#course1 .pro .des{
	text-align: start;
	padding: 10px 0;
}

#course1 .pro .des span{
	color: #606063;
	font-size: 12px;
}

#course1 .pro .des h5{
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
}

#course1 .pro .des i{
	font-size: 12px;
	color: rgb(243, 181, 25);

}


#course1 .pro .des h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #088178;

}
#course1 .pro .cart{
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50px;
background-color: #e8f6ea;
font-size: 500;
color: #088178;
border: 1px solid #cce7de;
position: absolute;
bottom: 20px;
right: 10px;

}
#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(images/onlinetutorialboard.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

#banner h4{
	color: blue;
	font-size: 20px;
	font-weight: 1500;

}

#banner h2{
	color: green;
	font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
   color: #ef3636;        
} 


#banner button:hover{
	background: #088178;
	color: yellow;
}


#introduction{
   background: linear-gradient(#E5F2BB, #B7E952);
 background: -moz-linear-gradient(#E5F2BB, #B7E952);
 background: -o-linear-gradient(#E5F2BB, #B7E952);
 background: -webkit-linear-gradient(#E5F2BB, #B7E952);  
padding: 35px;
margin: 16px 0;
}

#introduction h3{
   font-size: 45px;
   color: #316901;
   font-weight: normal;
}

#introduction p{
   font-size: 25px;
   color: blue;
   text-align: justify;
}

.sidebar{
   height: 550px;
   width: 400px;  
   border: 1px solid powderblue;
   border-radius: 20px;
   background-color: skyblue;
   padding: 10px 20px;
}
.sidebar h3{
   color: green;
   font-size: 30px;
}

.sidebar ul{
   padding-top: 8px;
}

#leftsidebar ul li{
   padding: 4px 0 4px 10px;
padding-bottom: 6px;
padding: 5px;
list-style-image: url(images/proceed.jpg);

}

#rightsidebar ul li{
 /*  padding-bottom: 20px;
   padding-top: 20px;
   padding-left: 70px;*/
   padding: 17px 0 17px 70px;
   background: url(images/good.jpg) no-repeat left center;
}

.sidebar ul li a{
 text-decoration: none;  
 font-size: 18px;
 color: #5d12e7;
 -webkit-transition: font-size 0.3s ease;
   -moz-transition: font-size 0.3s ease;
   -o-transition: font-size 0.3s ease;
   -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
 text-decoration: none;  
 color: #8314DB;
 font-size: 25px;
 font-weight: bold;
}


#leftsidebar{
   float: left;
}

#rightsidebar{
   float: right;
}

.footer{
   height: 60px;
   background: linear-gradient(#F6F390, #D5D533);
    background: -webkit-linear-gradient(#F6F390, #D5D533);
    background: -moz-linear-gradient(#F6F390, #D5D533);
     background: -o-linear-gradient(#F6F390, #D5D533); 
   padding: 10px 30px;
   margin-top: 15px
}


#online{
   width: 1200px;
   background: linear-gradient(#E5F2BB, #B7E952);
 background: -moz-linear-gradient(#E5F2BB, #B7E952);
 background: -o-linear-gradient(#E5F2BB, #B7E952);
 background: -webkit-linear-gradient(#E5F2BB, #B7E952);  
padding: 35px;
border-radius: 10em;
margin: 16px 0
font: Arial;
   font-size: 17px;
   
}

#online p{
   font-size: 28px;
   color: royalblue;
   text-align: justify;
}
#online h1{
   color: orange;
}

#SIGN{
width: 600PX;
   height: 70px;
   background: linear-gradient(#F8F594, #D5D533); 
  background: -webkit-linear-gradient(#F8F594, #D5D533); 
  background: -o-linear-gradient(#F8F594, #D5D533); 
  background: -moz-linear-gradient(#F8F594, #D5D533);  
padding: 75px;
border-radius: 5em;
background-position: left;
margin: 50px;
margin-left: 50px;
text-align: justify-all;
}

.SIGN{
   float: left;
}

.image{
   float: right;
   margin-top: 50px;
}

 #Address{
   padding-top: 10px;
   border-radius: 2em;
 }

 #Address{
   width: 600PX;
   height: 70px;
   background: royalblue;
  background: -webkit-royalblue;
  background: -o- royalblue;
  background: -moz-  royalblue;
padding: 75px;
border-radius: 10em;
background-position: left;
margin: 100px;
margin-left: 250px;
text-align: justify-all;
 }

 .Address{

 }

 #ChatOnWhatsAppButton{
   margin: 10px;
   margin-top: 10px;
 }

/* Shop Page */
